
:root {
    --white: hsla(0,0%,100%,1);
    --white-80: hsla(0,0%,100%,0.8);
    --white-25: hsla(0,0%,100%,0.25);
  
    --character-color: hsla(188,80%,28%,1);
}

body {
  background-color: var(--character-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
}

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background-color: var(--white-25);
}

main {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  max-width: 21.875rem;
}