
:root {
    --white: hsla(0,0%,100%,1);
    --white-80: hsla(0,0%,100%,0.8);
    --white-25: hsla(0,0%,100%,0.25);
  
    --character-color: hsla(188,80%,28%,1);
    
    --max-card-width: 25.5rem;
    --transition-duration: .5s;
    --transition-timing: ease-out;
}

body {
  background-color: var(--character-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
  transition: background-color var(--transition-duration) var(--transition-timing);
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white-25);
  z-index: -1;
}

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1.5rem;
  position: absolute;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
}

main {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  max-width: var(--max-card-width);
}